.card {
  border: 1px solid #dedfe0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  box-shadow: 1px 2px #b9b5b5;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.backroundpage {
  background-color: black;
  width: 100px;
  height: 100px;
}

.card img {
  border: 1px solid #dedfe0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 2px #b9b5b5;
}

.cardButtons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.overlay-image {
  pointer-events: none; 
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  top: 0;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}
.carousel-item {
  height: 35rem;
  background-color: rgb(10, 10, 10);
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
}

.containerFirst {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  padding-bottom: 20px;
}

.main-carousel-item {
  height: 57.1rem;
}

.main-page-container {
  left: 200px;
  padding-bottom: 200px;
}
